.input-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 6px 0;
  margin-bottom: 10px;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.input-container input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 0 4px 4px 0;
}

.button-repeat button {
  background-color: #fff;
  color: var(--green);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px 0;
}

.home-container span {
  position: relative;
  background-color: #fff;
  height: 46px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem 0 0 0.2rem;
}
.home-container span svg {
  color: var(--blue);
}
form .data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form .data .input-data {
  width: 47%;
  overflow: hidden;
}

form .data .input-data input[type="date"] {
  width: 98%;
  height: 47px;
  border: none;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  text-align: start;
}

form .passengers {
  width: 47%;
  height: 47px;
  background-color: #fff;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: rgba(27, 37, 48, 1);
  border-radius: 0.2rem;
}
form .passengers svg {
  color: var(--blue);
  margin: 0 0.8rem;
}

form .offer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

form .offer-buttons button {
  width: 47%;
}
