.hamburger-menu {
  position: absolute;
  right: 10px;
  z-index: 1;
  color: #000000;
  width: 100%;
}
.hamburger-icon {
  width: 20px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 90%;
}

.menu-items {
  display: none;
  position: relative;
  width: 95%;
  height: auto;
  left: 5%;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-items a {
  display: block;
  padding: 10px 20px;
  color: #333;
  transition: background-color 0.3s ease-in-out;
}

.hamburger-menu.open .menu-items {
  display: block;
}
