.heder {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

@media (max-width: 390px) {
  .heder {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
}
