@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
}
body {
  background-color: #f5f9ff;
}
.container {
  width: 100%;
  padding: 0% 15px;
  margin: 0% auto;
}
