* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
}

.container {
  width: 100%;
  padding: 0% 15px;
  margin: 0% auto;
}
